node_modules
dist
data/
.env
*.log
.DS_Store
web/dist-static
compartilhar/
*.painel.html

universal/node_modules/
universal/dist/
universal/desktop/node_modules/
universal/desktop/release/
universal/desktop/app/
universal/desktop/leve/index.html
universal/desktop/leve/*.exe
